table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.create-book, .create-user, .checkout-book {
  text-align: right;
  display: inherit;
  margin: 30px;
  padding-right: 100px;
}

form {
  margin: 0 45%;
}

.new-book-header, .new-user-header {
  text-align: center;
}

.fields {
  margin: 10px 0;
}

.errors {
  color: #B00100;
}